/* .bday-background {
  width: 800px;
  height: 700px;
  max-width: 100%;
  object-fit: cover;
} */

#birthday-form {
  display: flex;
  color: white;
  justify-content: center;
}

select {
  font-size: 1rem;
  padding: 1rem;
  position: absolute;
  background-color: #0f2940;
  color: white;
  z-index: 10;
}

.dropdown-label {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  width: 6rem;
}

.control {
  display: flex;
  justify-content: center;
  margin: 2rem;
  position: relative;
}

.birthday-content {
}

#image_of_the_day,
#videoLink {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
}

#media-result {
  position: unset;
  width: unset;
  flex-basis: 60%;
}

.img-info {
  color: white;
  padding: 2rem;
  z-index: 10;
  /* background-color: rgba(15, 41, 64, 0.2); */
  flex-basis: 40%;
}

.birthday-results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  background: url("/assets/images/bubble-nebula-cropped.jpg");
  background-color: rgba(74, 170, 255, 0.2);
}

#description {
  line-height: calc(1.5rem + 0.5vh);
}

.flex-centered {
  display: flex;
  justify-content: center;
  margin: 1rem;
  text-align: center;
}

/* Extra small devices (phones, 700px and down) */
@media only screen and (max-width: 700px) {
}

/* Small devices (portrait tablets and large phones, 700px and up) */
@media only screen and (min-width: 700px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .birthday-results {
    display: flex;
    height: 700px;
    flex-direction: unset;
  }
  #image_of_the_day,
  #videoLink {
    height: 700px;
    width: 100%;
    object-fit: cover;
    display: flex;
  }
  #copyright {
    position: absolute;
    right: 0%;
    color: var(--color-white);
    bottom: 0%;
    margin: auto;
    padding: 1rem;
    font-size: 16px;
    max-width: 30rem;
    text-align: right;
    text-shadow: 2px 2px 4px #000000;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
