* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-main-dark: #0f2940;
  --color-main-deep: #004f6b;
  --color-main-medium: #1a8199;
  --color-main-bright: #49c6e0;
  --color-main-light: #7edbed;
  --color-main-tint: #daedff;
  --color-dark: #1a1a1a;
  --color-white: #fff;
}
