html,
body {
  background: #f2f2f2;
}

.animated-card-label {
  font-family: "Century Gothic", Arial;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
}

.AnimatedFractionCounters {
  height: 100%;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Montserrat", Arial;
  background-color: white;
}

.fraction-card-title {
  text-align: center;
  color: #064347;
  margin: 1rem;
}

.fraction-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter-card {
  background: #fff;
  margin: 2rem;
  text-align: center;
  box-shadow: 0 0 1rem 1px lightgrey;
  min-width: 15rem;
  max-width: fit-content;
}

.fraction-counters {
  display: flex;
  background: #fff;
  margin: 2rem;
}

.counter-number {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 3rem;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0.5rem 0.5rem;
}
.counter-number > span {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  line-height: 1;
}
.counter-number > span span {
  flex: 0 0 100%;
  height: 100%;
}
.counter-number > span {
  transition-delay: 1s;
}

.fraction-1 {
  color: #4c7887;
}

.fraction-2 {
  color: #ddb027;
}

.fraction-total {
  margin-top: 2rem;
}

p.fraction-divider {
  position: relative;
  display: flex;
  /*   overflow: hidden; */
  align-items: center;
  height: 3rem;
  font-size: 3rem;
  margin: 1rem 0rem 0.5rem;
}

p.fraction-label {
  font-size: 2rem;
  color: #4c7887;
}

@media (min-width: 768px) {
  .fraction-counter {
    flex-direction: row;
  }
}
