:root {
  --color-main-dark: #0f2940;
  --color-main-deep: #004f6b;
  --color-main-medium: #1a8199;
  --color-main-bright: #49c6e0;
  --color-main-bright-transparent: rgb(73, 198, 224, 0.6);
  --color-main-light: #7edbed;
  --color-main-light-transparent: rgb(126, 219, 237, 0.6);
  --color-main-tint: #e1e1ff;
  --color-dark: #1a1a1a;
  --color-white: #fff;
  --color-pink: #f2b8c2;
  --color-pink-transparent: rgb(242, 184, 194, 0.6);
  --color-purple: #7d5bff;
  --color-purple-transparent: rgb(125, 91, 255, 0.6);
  --simple-gradient: linear-gradient(
    90deg,
    var(--color-main-bright-transparent),
    var(--color-purple-transparent),
    var(--color-pink-transparent)
  );
}

/* theme.css */

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #004f6b;
    --secondary-color: #1a8199;
    --font-color: #1a1a1a;
    --bg-color: #fff;
    --heading-color: #1a8199;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #49c6e0;
    --secondary-color: #7edbed;
    --font-color: #e1e1ff;
    --bg-color: #1a1a1a;
    --heading-color: #7edbed;
  }
}

/* Layout */
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
html {
  font-size: 18px;
  font-family: "Josefin Sans", "Century Gothic", sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--font-color);
}
.svg-gradient {
  fill: var(--bg-color);
}
.container {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 0 1rem;
}
.container-inner {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bounded-content {
  margin: 0 auto;
  padding: 10vw;
  height: fit-content;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-60 {
  flex-basis: 60%;
}

.flex-30 {
  flex-basis: 30%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
p {
  white-space: pre-line;
  font-size: 1rem;
  font-size: calc(1rem + 0.2vw);
  margin: 1.5rem 0;
  line-height: 1.5rem;
  line-height: calc(2rem + 0.5vw);
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: calc(1.1rem + 0.5vw);
}

page-header {
  max-height: fit-content;
}

.gradient-wave {
  height: fit-content;
  max-height: 30vw;
}

.wave-wrapper {
  z-index: -10;
}

.info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.tags {
  margin-right: 1rem;
}
.tags span {
  background: var(--primary-color);
  color: var(--color-white);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}

/* theme toggle  */
.theme-toggle-button-container {
  display: flex;
  align-items: center;
  float: inline-end;
}
.theme-toggle-button-container em {
  margin-left: 10px;
  font-size: 1rem;
}
.toggle-button-label {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.toggle-button-label .toggle-button {
  display: none;
}
.toggle-rounded {
  background-color: var(--color-main-deep);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 2rem;
}
.toggle-rounded:before {
  background-color: var(--color-white);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  border-radius: 2rem;
}
input:checked + .toggle-rounded {
  background-color: var(--color-main-light);
}
input:checked + .toggle-rounded:before {
  transform: translateX(26px);
}
article {
  margin-top: 2rem;
}

/* base style for forms */

.control,
fieldset {
  margin: 6px 0;
}

label {
  display: inline-block;
  width: 10rem;
  vertical-align: top;
}

input + label {
  width: auto;
}

input {
  border: solid var(--color-main-light) 1px;
  width: 15rem;
  height: 2rem;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.small-form {
  background: var(--color-main-tint);
  padding: 2rem;
}

.button-container {
  display: inline-block;
  margin-right: 1rem;
}

/* base style for all buttons */
.btn {
  margin: 1rem 0;
  padding: 0.5rem 0.5rem;
  background: transparent;
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
  /* font-weight: 700; */
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  width: 10rem;
}
/* variations */
.primary {
  background: var(--color-main-medium);
  color: var(--color-white);
}
.secondary {
  background: var(--color-main-deep);
  color: var(--color-white);
}
.bright {
  background: var(--color-main-bright);
  color: var(--color-dark);
}
.link {
  color: var(--color-main-deep);
}

.gradient-button {
  background: var(--simple-gradient);
  background-size: 300%;
  background-position: left;
  transition: background-position 1000ms;
  font-size: calc(1.1rem + 0.5vw);
  /* text-transform: uppercase; */
}

.gradient-button:hover {
  background-position: right;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 5rem;
  background: var(--simple-gradient);
}

@media screen and (min-width: 769px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .flex-60 {
    flex-basis: 60%;
  }

  .flex-30 {
    flex-basis: 30%;
  }
}
